* {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

header {
    color: white;
    background-color: teal;
}

.header_container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
}

.menu {
    display: flex;
    font-size: 24px;
    align-items: center;
}

.right_menu {
    display: flex;
}

.menu a {
    display: flex;
    height: 100px;
    transition: .3s;
}

header a {
    display: flex;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 24px;
    transition: .3s;
    height: 100px;
    align-items: center;
}

header a:hover {
    background-color: rgb(13, 170, 170);
}

a {
    text-decoration: none;
}

.logo {
    font-size: 36px;
    font-weight: 800;
}

.apps {
    display: flex;
    justify-content: center;
    background-color: teal;
    color: white;
}

.apps * {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 30px 0px 30px;
    transition: .3s;
}

.apps *:hover {
    background-color: rgb(13, 170, 170);
}

.apps a {
    color: white;
}

.apps p {
    cursor: pointer;
}

.main_container {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 1200px;
    padding: 0px 15px;
}

.search_and_sort {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sort {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.sort p {
    margin-top: 15px;
    cursor: pointer;
}

.sort a {
    color: black;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.sort_and_filter {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.filter p {
    margin-top: 15px;
}

.filter_block {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    gap: 5px;
}

.application {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app_card {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    max-height: fit-content;
    align-items: center;
    gap: 30px;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.img_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.photo1 {
    position: relative;
    width: 1000px;
    height: 700px;
    border-radius: 30px;
    transition: .3s;
}

.photo2 {
    position: absolute;
    width: 1000px;
    height: 700px;
    border-radius: 30px;
    opacity: 0;
    transition: .3s;
}

.photo3 {
    position: absolute;
    border-radius: 30px;
    opacity: 0;
    transition: .3s;
}

@media screen and (max-width: 1200px) {
    .photo1 {
        width: 970px;
        height: 600px;
    }

    .photo2 {
        width: 970px;
        height: 600px;
    }
}

@media screen and (max-width: 992px) {
    .photo1 {
        width: 750px;
        height: 400px;
    }

    .photo2 {
        width: 750px;
        height: 400px;
    }
}

@media screen and (max-width: 767px) {
    .photo1 {
        width: 540px;
        height: 400px;
    }

    .photo2 {
        width: 540px;
        height: 400px;
    }
}

@media screen and (max-width: 767px) {
    .photo1 {
        width: 540px;
        height: 400px;
    }

    .photo2 {
        width: 540px;
        height: 400px;
    }
}

@media screen and (max-width: 550px) {
    .photo1 {
        width: 340px;
        height: 340px;
    }

    .photo2 {
        width: 340px;
        height: 340px;
    }
}

.img_wrapper:hover {
    .photo1 {
        opacity: 0;
    }
    .photo2 {
        opacity: 1;
    }
    .photo3 {
        opacity: 1;
    }
}

.app_card * {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    padding: 50px;
    border-radius: 30px;
    gap: 15px;
    font-size: 16px;
    width: 300px;
}

input {
    display: flex;
    width: 100%;
    background-color: unset;
    border: none;
    outline: none;
    border-bottom: 2px solid #e3e3e3;
    cursor: pointer;
}

select {
    cursor: pointer;
}

input:focus {
    border-bottom: 2px solid teal;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    border-radius: 30px;
    padding: 15px;
    border: unset;
    color: white;
    height: 30px;
    cursor: pointer;
}

.logout {
    color: white;
}